header {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 5px;
}
nav {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background: black;
}

nav ul {
    position: relative;
    margin: auto;
    width: 50%;
    text-align: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    width: 19%;
    line-height: 50px;
    list-style: none;
}

section {
    position: relative;
    padding:20px;
}